#chatContainer{
  height: 15em;
  margin: 0 auto;
  position: relative;
}

#chatList{
  position: absolute;
  bottom: 0;
}

li{
  list-style: none;
}

#chatTextInput{
  position: fixed;
  margin-top: 10%;
}
