@media screen and (min-width: 320px){

  body{
    width: 100%;
    margin: 0 auto;
    font-family: 'Quicksand';
    overflow-y: auto !important;
    background-color: #E7E7E7;
    letter-spacing: 1.55px;
  }

  #chatContainer{
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  #chatList{
    width: 80%;
    position: fixed;
    bottom: 15%;
    padding: 0;
    font-size: 1em;

  }

  li{
    list-style: none;
    padding: 1% 2%;
    margin: 2%;
    border-radius: 12px;
  }


  .userResponse{
    text-align: right;
    background-color: #6199C8;
    color: white;
    font-size: 1.25em;
  }

  .buttersResponse{
    text-align: left;
    background-color: #C2C4C9;
  }

  #chatTextInput{
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3E719C;
    padding: .8% 0.5%;
    display: flex;
    overflow: hidden;
  }

  #inputContainer{
    justify-content: center;
    width: 90%;
    padding: 2.5% 0;
    margin: 0 auto;
  }

  input{
    font-family: 'Quicksand';
    font-size: .85em;
    width: 60%;
    font-size: 1.15em;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    margin: 0 auto;
    outline: none;
  }

  button{
    border: none;
    background-color: #3E719C;
    color: white;
    letter-spacing: 3px;
    outline: none;
    font-family: 'Quicksand';
    font-size: 1.2em;
    margin-left: 3%;
  }

  .buttersResponsePic{
    width: auto;
    height: 10em;
    border-radius: 12px;
  }
}
@media screen and (min-width: 500px){

body{
  width: 100%;
  margin: 0 auto;
  font-family: 'Quicksand';
  font-size: 1em;
  overflow: scroll;
  background-color: #E7E7E7;
  letter-spacing: 1.55px;
}

#chatContainer{
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: 1em;
}

#chatList{
  width: 80%;
  position: fixed;
  bottom: 15%;
  padding: 0;

}

li{
  list-style: none;
  padding: 1% 2%;
  margin: 2%;
  border-radius: 12px;
}


.userResponse{
  text-align: right;
  background-color: #6199C8;
  color: white;
}

.buttersResponse{
  text-align: left;
  background-color: #C2C4C9;
}

#chatTextInput{
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3E719C;
  padding: .8% 0.5%;
  display: flex;
  overflow: hidden;
}

#inputContainer{
  align-content: center;
  width: 90%;
  display: flex;
  padding: 2.5% 0;
}

input{
  font-family: 'Quicksand';
  font-size: .85em;
  width: 75%;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  padding: .45% .65%;
  align-content: center;
  margin: 0 auto;
  outline: none;
}

button{
  border: none;
  background-color: #3E719C;
  color: white;
  font-size: 1em;
  letter-spacing: 1.5px;
  outline: none;
  font-family: 'Quicksand';
}

.buttersResponsePic{
  width: auto;
  height: 10em;
  border-radius: 12px;
}
}
