body{
  width: 100%;
  margin: auto;
  font-family: 'Source Sans Pro';
  font-size: 1em;
  overflow: hidden;
  background-color: #E7E7E7;
  letter-spacing: 1.55px;
}

#chatContainer{
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#chatList{
  width: 80%;
  position: fixed;
  bottom: 15%;
  padding: 0;

}

li{
  list-style: none;
  padding: 1% 2%;
  margin: 2%;
  border-radius: 12px;
}


.userResponse{
  text-align: right;
  background-color: #6199C8;
  color: white;
}

.buttersResponse{
  text-align: left;
  background-color: #C2C4C9;
}

#chatTextInput{
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #6199C8;
  padding: .8% 0.5%;
  display: flex;
}

#inputContainer{
  align-content: center;
  width: 90%;
  display: flex;
  padding: 2.5% 0;
}

input{
  font-family: 'Source Sans Pro';
  font-size: .85em;
  width: 75%;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  padding: .45% .65%;
  align-content: center;
  margin: 0 auto;
  outline: none;
}

button{
  border: none;
  background-color: #6199C8;
  color: white;
  font-size: 1em;
  letter-spacing: 1.5px;
  outline: none;
}

.buttersResponsePic{
  width: auto;
  height: 10em;
  border-radius: 12px;
}
